Repository ContinualAI/avalanche, pull requests merged in 2021-05, with the labels that each got.

#602 Added csvlogger
  avalanche/logging/__init__.py
  avalanche/logging/csv_logger.py
  avalanche/training/strategies/base_strategy.py
  examples/eval_plugin.py
Labels: Evaluation

#583 Added W&B built-in Confusion Matrix and Deep SLDA
  avalanche/evaluation/metrics/confusion_matrix.py
  avalanche/logging/wandb_logger.py
  avalanche/models/__init__.py
  avalanche/models/dynamic_modules.py
  avalanche/models/slda_resnet.py
  avalanche/models/utils.py
  avalanche/training/strategies/__init__.py
  avalanche/training/strategies/deep_slda.py
  examples/confusion_matrix.py
  examples/deep_slda.py
  examples/tensorboard_logger.py
  examples/wandb_logger.py
  notebooks/from-zero-to-hero-tutorial/05_evaluation.ipynb
  notebooks/from-zero-to-hero-tutorial/06_loggers.ipynb
  notebooks/from-zero-to-hero-tutorial/07_putting-all-together.ipynb
  tests/training/test_strategies.py
Labels: Evaluation, Training

#612 Fix bug with unit test on python 3.6
  .github/workflows/test-coverage-coveralls.yml
  .github/workflows/unit-test.yml
Labels: Continuous integration, bug

#633 Adding Category-Level Classification Support for CORe50
  avalanche/benchmarks/classic/core50.py
  avalanche/benchmarks/datasets/core50/core50.py
  avalanche/benchmarks/datasets/core50/core50_data.py
  tests/test_core50.py
Labels: Benchmarks

#626 [wandb] Fix Confusion Matrix Plugin
  avalanche/evaluation/metrics/confusion_matrix.py
Labels: Evaluation
