Repository ContinualAI/avalanche, pull requests merged in 2021-06, with the labels that each got.

#637 added icarl plugin
  avalanche/models/__init__.py
  avalanche/models/dynamic_modules.py
  avalanche/models/icarl_resnet.py
  avalanche/models/ncm_classifier.py
  avalanche/training/losses.py
  avalanche/training/strategies/icarl.py
  examples/icarl.py
  pep8_report.txt
  tests/test_models.py
  tests/training/test_losses.py
  tests/training/test_strategies.py
Labels: Training

#651 OpenLORIS GDrive Links Changed to Avl VPS
  avalanche/benchmarks/datasets/openloris/openloris.py
  avalanche/benchmarks/datasets/openloris/openloris_data.py
Labels: Benchmarks

#649 Standardization of classic benchmarks
  avalanche/benchmarks/classic/ccifar10.py
  avalanche/benchmarks/classic/ccifar100.py
  avalanche/benchmarks/classic/ccub200.py
  avalanche/benchmarks/classic/cfashion_mnist.py
  avalanche/benchmarks/classic/cimagenet.py
  avalanche/benchmarks/classic/cinaturalist.py
  avalanche/benchmarks/classic/classic_benchmarks_utils.py
  avalanche/benchmarks/classic/cmnist.py
  avalanche/benchmarks/classic/comniglot.py
  avalanche/benchmarks/classic/core50.py
  avalanche/benchmarks/classic/ctiny_imagenet.py
  avalanche/benchmarks/classic/openloris.py
  avalanche/benchmarks/classic/stream51.py
  avalanche/benchmarks/datasets/core50/core50.py
  avalanche/benchmarks/datasets/cub200/cub200.py
  avalanche/benchmarks/datasets/dataset_utils.py
  avalanche/benchmarks/datasets/downloadable_dataset.py
  avalanche/benchmarks/datasets/openloris/openloris.py
  avalanche/benchmarks/datasets/stream51/stream51.py
  avalanche/benchmarks/datasets/tiny_imagenet/tiny_imagenet.py
  avalanche/benchmarks/scenarios/new_classes/nc_scenario.py
  tests/test_avalanche_dataset.py
  tests/test_nc_sit_scenario.py
Labels: Benchmarks

#634 [WIP] ADD PNN strategy
  avalanche/models/dynamic_modules.py
  avalanche/models/pnn.py
  avalanche/models/simple_mlp.py
  avalanche/training/__init__.py
  avalanche/training/plugins/evaluation.py
  avalanche/training/strategies/ar1.py
  avalanche/training/strategies/base_strategy.py
  avalanche/training/strategies/cumulative.py
  avalanche/training/strategies/deep_slda.py
  avalanche/training/strategies/icarl.py
  avalanche/training/strategies/joint_training.py
  avalanche/training/strategies/strategy_wrappers.py
  avalanche/training/utils.py
  tests/test_models.py
  tests/training/test_plugins.py
  tests/training/test_strategies.py
  tests/training/test_strategies_accuracy.py
Labels: Training

#652 [Metrics] dataset inspection
  avalanche/evaluation/metric_definitions.py
  avalanche/evaluation/metric_results.py
  avalanche/evaluation/metric_utils.py
  avalanche/evaluation/metrics/images_samples.py
  avalanche/evaluation/metrics/labels_repartition.py
  avalanche/logging/tensorboard_logger.py
  avalanche/logging/text_logging.py
  avalanche/logging/wandb_logger.py
  avalanche/training/plugins/evaluation.py
  examples/dataset_inspection.py
Labels: Evaluation
